/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}
html,body{
    height:100%;
    width: 100%;
    font-family:'Poppins', sans-serif;
    color:#222222;
}

.navbar{
    padding: .8rem;
    margin-bottom:20px;
}
.navbar-nav li{
    padding-right:10px;
}
.nav-link{
    font-size: 1.1em
}
